<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCimkon_NscAbRxzESQns7J95CF29TxU9s</string>
	<key>GCM_SENDER_ID</key>
	<string>972414367206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nikivanov.MyChat</string>
	<key>PROJECT_ID</key>
	<string>mychat-62dfe</string>
	<key>STORAGE_BUCKET</key>
	<string>mychat-62dfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972414367206:ios:80eee5220a9086241a9227</string>
</dict>
</plist>